language: python
os: linux
dist: xenial

os:
  - linux
  - osx

language: generic
compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
      - libbz2-dev
      - libcurl4-openssl-dev
      - libssl-dev

python:
  - '2.7'
  - '3.5'
  - '3.6.7'
  - '3.7.1'
# command to install dependencies
before_install:
  - python --version
  - pip install --user -U pip
  - pip install --user -U pytest
  - pip install --user codecov
install:
  - python setup.py install # install package + test dependencies
script: 
  - py.test # run tests
  - codecov # submit coverage
