language: python
os: linux
dist: xenial

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
      - libbz2-dev
      - libcurl4-openssl-dev
      - libssl-dev

python:
  - '2.7'
  - '3.5'
  - '3.6'
  - '3.7'
# command to install dependencies
install:
  - pip install -r requirements.txt
script:
  # command to lint code
  - flake8 --config .flake8
  # command to run tests
  - python2.7 -m pytest --cov=. --cov-report term-missing
  - python3.5 -m pytest --cov=. --cov-report term-missing
  - python3.6 -m pytest --cov=. --cov-report term-missing
  - python3.7 -m pytest --cov=. --cov-report term-missing
